<!-- Start Slider Area -->
<div class="slider-area page-title-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col p-0">
                <div class="slider-wrapper-2">
                    <a href="/">
                        <div id="particles-js">
                            <div class="slider-fixed-text container">
                                <!--<h1>{{title}}</h1>-->
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Slider Area -->